body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F327707310381126648%2F&psig=AOvVaw3jaQMztqjR48KjO3z6mkQ0&ust=1683150675989000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMin3YPP1_4CFQAAAAAdAAAAABAE");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}